<div class="container" *ngIf="user$ | async as user; else loading">
    <div class="container__info" *ngFor="let user of user">
        <mat-card class="user-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{user.name.first}} {{user.name.last}}</mat-card-title>
                <mat-card-subtitle>{{user.dob.age}} Years, E-Mail: {{user.email}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="user.picture.large" alt="user-profile">
        </mat-card>
        <mat-card-actions>
            <button mat-button routerLink="/user-list/">Back</button>
        </mat-card-actions>
    </div>
</div>


<ng-template #loading>
    <app-loader></app-loader>
</ng-template>