.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 20px;
}

.container__info {
  border: 1px solid black;
  border-radius: 15px;
}

.user-card {
  width: 100%;
  max-width: 300px;

  img {
    max-height: 270px;
    max-width: 270px;
  }
}